div{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-end;
}

.Parte1{
    display: grid;
    grid-template-columns: 4vw;
    grid-template-rows: 3h;
    max-height: 200px;
    min-width: 500px;
    background-color: blue;
}

.Parte2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}